<div class="container">
    <h3>Cadastro de Carros:</h3>

    <div class="container">
        <form #formCar="ngForm">
            <div class="container form-group row">
                <label for="name" class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="car.name" class="form-control" name="name" id="name"
                            aria-describedby="name" required>
                    </div>
                </div>
            </div>
            <div class="container form-group row mt-1">
                <label for="automaker" class="col-sm-2 col-form-label">Montadora: </label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="car.autoMaker" name="autoMaker" class="form-control"
                            id="autoMaker" aria-describedby="automaker" required>
                    </div>
                </div>
            </div>
            <div class="container form-group row mt-1">
                <label for="price" class="col-sm-2 col-form-label">Preço: </label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="number" [(ngModel)]="car.price" class="form-control" id="price"
                            aria-describedby="price" name="price" required>
                    </div>
                </div>
                <label for="year" class="col-sm-2 col-form-label">Ano: </label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="number" [(ngModel)]="car.year" class="form-control" id="year"
                            aria-describedby="year" name="year" required>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary mt-3" [disabled]="formCar.invalid" (click)="save()">Salvar</button>
        </form>
    </div>