<div class="container rounded bg-light">
    <app-car></app-car>

    <h3>Carros Cadastrados: </h3>
    <hr class="text-secondary">
    <table class="table custom-bg text-center" style="margin-top:-10px">
        <thead>
            <tr class="custom-bg">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Montadora</th>
                <th scope="col">Preço</th>
                <th scope="col">Ano</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <td>1</td>
            <td>Nome 1</td>
            <td>Montadora Santanna</td>
            <td>100</td>
            <td>2010</td>
            <td class="me-3">option</td>
        </tbody>
        <tbody>
            <td>2</td>
            <td>Nome 2</td>
            <td>Montadora Santanna</td>
            <td>200</td>
            <td>2020</td>
            <td class="me-3">option2</td>
        </tbody>
    </table>
</div>