<div class="container rounded bg-light">
    <app-car [car]="setCar" (saveEmitter)="saveCar()"></app-car>

    <h3>Carros Cadastrados: </h3>
    <hr class="text-secondary">
    <table class="table custom-bg text-center" style="margin-top:-10px">
        <thead>
            <tr class="custom-bg">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Montadora</th>
                <th scope="col">Preço</th>
                <th scope="col">Ano</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
                <th scope="row">{{car.id}}</th>
                <th>{{car.name}}</th>
                <th>{{car.autoMaker}}</th>
                <th>{{car.price}}</th>
                <th>{{car.year}}</th>
            </tr>
        </tbody>
    </table>
</div>