<div class="container rounded bg-light">
    <app-car [car]="setCar" (saveEmitter)="saveCar()"></app-car>

    <h3>Carros Cadastrados: </h3>
    <hr class="text-secondary">
    <table class="table custom-bg" style="margin-top:-10px">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Montadora</th>
                <th scope="col">Preço</th>
                <th scope="col">Ano</th>
                <th scope="col" class="text-end">Opções</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor=" let car of cars">
                <td scope="row">{{car.id}}</td>
                <td>{{car.name}}</td>
                <td>{{car.autoMaker}}</td>
                <td>{{car.price}}</td>
                <td>{{car.year}}</td>
                <td class="text-end">
                    <button class="btn btn-success me-3" (click)="update(car)">Alterar</button>
                    <button class="btn btn-danger" (click)="exclude(car)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>